/*
    Predefined Scss variables
*/
/* 
    Created on : 16 Sep, 2016, 7:48:04 PM
    Author     : Ishwar Katwe
*/

/*Colors*/
$white:#FFFFFF;
$black:#000000;
$blue:#80a8cc;
$gray:#d0d0d0;
$dark-gray:#5f5f5f;
$body-bg:#f2eee8;

/*Shadow*/
$shadow:rgba(0,0,0,0.05);

/*Font Family*/
$font-primary: 'Open Sans', sans-serif;

/*NavBar*/
$navHeight : 80px;

/*Post divider*/
$divider-color: #eaeaea;